<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
</head>
<body>
  <div class="app" ng-app="myapp">
    <!-- Kick off the app. The rest is handled through directives -->
    <display></display>

    <!-- Template for top level display element -->
    <script type="text/ng-template" id="display.html">
      <div ng-show="!videos" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div ng-if="videos">
        <div ng-repeat="video in videos">
          <video-container
            preview-url="video.thumb360PosterUrl"
            mp4-url="video.thumb360Url"
            class="container"
            ng-mouseover="hoverOn(video)"
            ng-mouseleave="hoverOff(video)"
            ng-click="showModal(video)"
            hover="video.hover"
          >
          </video-container>
        </div>
      </div>
      <modal ng-if="modalVideo" source="modalVideo.mp4Url" hide-modal="hideModal" class="animated fadeIn"></modal>
    </script>

    <!-- Template for each video element -->
    <script type="text/ng-template" id="videoContainer.html">
        <img ng-show="!hover" ng-src="{{previewUrl}}"/>
        <video ng-if="hover" autoplay loop class="animated fadeIn">
          <source ng-src="{{mp4Url}}" type="video/mp4">
        </video>
    </script>

    <!-- Template for Modal -->
    <script type="text/ng-template" id="modal.html">
        <div class="view">
          <video autoplay loop controls>
            <source ng-src="{{source}}" type="video/mp4">
          </video>
        </div>
        <div class="mask" ng-click="hide()"></div>
    </script>
  </div>
  <script type="text/javascript" src="./source.js"></script>
</body>
</html>
